# Python cache
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Conda environments
.env

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp

# Python packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/